<h1>
  <%= @stores.count %> Total Stores
</h1>

  <% @stores.each do |store| %>
    <ul id="stores">
      <li> <%= store.long_name %> </li>
      <li> <%= store.city %> </li>
      <li> <%= store.distance %> </li>
      <li> <%= store.phone_number %> </li>
      <li> <%= store.store_type %> </li>
    </ul>
  <% end %>